<h1 style="margin-top: 33px; "> </h1>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Primeiro</th>
      <th scope="col">Último</th>
      <th scope="col">Nickname</th>
      <th scope="col">Nickname2</th>
      <th><%= link_to "Disponivel", edit_home_path(@livinTe), remote: true %></th>
      
      
    </tr>
  </thead>
  <tbody>
   
   <% @friends.each do |user| %>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter2</td>
      <td>@twitter</td>
    </tr>
  
   <tr>
      <th scope="row">4</th>
      <td >Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter2</td>
      <td>@twitter3</td>
    </tr>
  
  <%end%>
  
  </tbody>
</table>

<%= render 'update', quarda: @livinTe %>

