
//$().alert('salvo com sucesso')

      
      
      
      //alert('salvo com sucesso');

$(function (){


      $('#sendMailModal').modal('hide');
     
      //$('h4.modal-title').val('');  //caso eu queira limpa algum campo

     

   // var vamos = 'amauriii'

      $('#alertando').html('<div style="padding-left: 550px" class="alert alert-primary" role="alert"> Salvo com sucesso!</div> ');
  
     

     $('#aqui33').html('<%= link_to "Deu certo", edit_home_path(@vamostestar ), remote: true %>');
  


    // $('#aqui3333').html('<%= link_to "Deu certo", edit_home_path(@vamostestar ), remote: true %>');
  

      $('#teste33').html('<%= @roms.name %> ');
  


      //alert('salvo com sucesso');

       //$.alert('oioio');
      

     // $('.alert').alert()



      //$.notify('salvo com sucesso', "success");

     
      //$(".alert").alert('close')
      //$().alert('salvo com sucesso')
    
     // $.notify('salvo com sucesso', "success");

      //$.notify("Hello World");

      //window.alert(“mensagem”); 
       //alert('salvo com sucesso');
 });



//$(document).ready(function(){

    //  $('#sendMailModal').modal('hide');
    //$.notify("Formulário enviado com sucesso!");
//});


//$(document).ready(function(){
   
  //$('#sendMailModal').modal('hide');
  //$('#alertbox').click(function(){
    //$("#error").html("You Clicked on Click here Button");
      //$('#sendMailModal').modal("show");
    //});
  //});